body{
    background-image: url(img/fondo.png) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
html {
    scroll-behavior: smooth; }

html, body{
    overflow-x: hidden;
}


/*----header----*/
/*nav{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(253, 253, 253, 0.726);
}

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}*/

.menu{
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(253, 253, 253, 0.726);
    height: 7vh;
    width: 100%;
    position: fixed;
     z-index: 100;

}

.botonmenu{
    color:#000000;
    font-size: 16.5px;
    text-decoration: none;
    padding: 1vh;
    text-align: center;
    
}

.botonmenu:hover{
    color:white;

}




/*----home----*/
#home{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.home h1{
    margin-top: 20vh;
    margin-bottom: 10vh;
    color: white;
    font-weight: bold;
    font-family: 'Mansalva', cursive;
    font-size: 80px;
}

.home img{
    height: 50vh;
}

.home video{
   
    background-color:  rgba(253, 253, 253, 0.726);
    -webkit-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
    border: white;
    border-radius: 10px;
}

.home p{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-right: 10vh;
    
}















/*----proyectos----*/
#proyectos{
    height: 200vh;
}

.proyectos h1{
    margin-top: 20vh;
    margin-bottom: 0vh;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 100%;
    display: grid;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
   
}

.tab:hover {
    transform: translateY(-10px);
}    
  
.accordion-container {
    padding: none;
    margin: none;
    display: flex;
    width: 40vh;
    background-color: #d6cabf00;
    padding: 3.5rem;
    border-radius: 20px;
   
}
  
  
.accordion-faq {
    position: relative;
    
  }
  
  /* accordion */
  .tab {
    border-radius: 20px;
    margin-bottom: 3vh;
    background-color:  rgba(253, 253, 253, 0.726);
    -webkit-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
    border: white;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    width: 50vh;
    text-align:center;
    border: none;
    outline: none;
    transition: all ease-in-out 0.4s;
  }
  
  label {

    border: white;
    border-radius: 10px;
    font-size: 16px;
    padding-bottom: 18px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid hsl(240, 5%, 91%);
  }
  
  .tab-content {
    font-size: 14px;
    color:#4d4239;
    display: none;
    text-align: center;
    margin: 0px;
  }
  
  .tab input:checked ~ .tab-content {
    transition: all ease-in-out 0.4s;
    display: block;
  }
  
  .tab input {
    display: none;
  }
  
  /* accordion-label */
  .tab label {
    display: block;
    border: white;
    border-radius: 10px;
    color:  #000000;
    cursor: pointer;
  }
  
  .tab label:after {
    font-size: 1.5rem;
    content: "\002c6";
    position: relative;
    display: inline-block;
    left: 1rem;
    top: -0.5rem;
    transform-origin: center center;
    transform: rotate(180deg);
    transition: all ease-in-out 0.3s;
    color: hsl(14, 88%, 65%);
  }
  
  input:checked + label {
    font-weight: 700;
  }
  
  .tab input:checked + label:after {
    left:5.25rem;
    top: 0.4rem;
    transform-origin: center;
    transform: scaleY(1);
    font-weight: 700;
  }
  
  /* accordion-content */
  .tab-content {
    cursor: default;
    overflow: hidden;
    /* CSS animation will not work with auto height */
    /* This is why we use max-height */
    transition: all ease-in-out 0.4s;
    max-height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left:auto ;
    margin-right: auto;
  }
  
  .tab input:checked ~ .tab-content {
    /* Set the max-height to a large number */
    /* Or 100% viewport height */
    max-height:20vh;
    max-width:30vh;
    transition: all ease-in-out 0.4s;
  }
  
  /* attribution */
  .attribution {
    font-size: 14px;
    text-align: center;
  }
  
  .attribution a {
    color: hsl(228, 45%, 44%);
  }






/*-----galeria----*/



.categorias a {
	text-decoration: none;
    color: black;
    margin: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.categorias a:hover{
    color: white;
}

.categorias a.activo{
    font-weight: 800;
}

.galeria {
	width: 100%;
    margin-left: 4vh;
}

.galeria .categorias{
	width: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    border-radius: 20px;
    margin-bottom: 3vh;
    margin-top: 4vh;
    background-color:  rgba(253, 253, 253, 0.726);
    -webkit-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
    border: white;

}


/*---grid----*/
.grid {
	position: relative;

	opacity: 2;
	transition: opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas {
    opacity: 1;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.333333% - 20px);
}

.grid .item-contenido {
    position: relative;
       
}

.grid .item img:hover{
    transform: translateY(-10px);
}

.grid .item img {
	width: 50%;
	cursor: pointer;
    vertical-align: top;
    -webkit-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
    border: white;
    border-radius: 5vh;
    transition: all ease-in-out 0.4s;
}



.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.9);
	width: 100%;
	height: 100vh;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.overlay.activo {
	display: flex;
}

.overlay img {
	max-width: 100%;
}

.overlay .descripcion {
	display: block;
	background: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 5px;
	border-radius: 10px;
	max-width: 50%;
}

.contenedor-img {
	position: relative;
}

.overlay #btn-cerrar-popup {
	background: none;
	font-size: 20px;
	color: #fff;
	border: none;
	cursor: pointer;
	position: absolute;
	right: -20px;
	top: -20px;
}












/*---- nosotros ----*/
#nosotrxs{
    height: 70vh;
}

.nosotrxs h1{
    font-size: 40px;
    margin-top: 15vh;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.nosotrxs .card{
    width: 30vh;
    transition:all .4s;
    background-color:  rgba(253, 253, 253, 0.726);
    -webkit-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
    border: white;
    border-radius: 10px;
}

.nosotrxs .card:hover{
    transform: translateY(-10px);
}
.nosotrxs  .card:nth-child(1){ transform: scale(1.0);}
.nosotrxs  .card:hover:nth-child(1){
    transform: translateY(-10px) scale(1.0);
}
.nosotrxs  .card h5{

    transition: all .4s;
}

.nosotrxs  .card:hover h5{
	transform: translateX(10px) scale(1.05);
}




/*---- contacto ----*/
#contacto{
    height: 100vh;
}

.contacto h1{
    font-size: 40px;
    margin-top: 15vh;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

form{
    width: 62vh;
    padding: 2vh;
    margin-top: 5px;
    background-color:  rgba(253, 253, 253, 0.726);
    -webkit-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 31px -20px rgba(0,0,0,0.75);
    border: white;
    border-radius: 10px;
    transition:all .4s;
}

.contacto form:hover{
    transform: translateY(-10px);
}
.contacto  form:nth-child(1){ transform: scale(1.0);}
.contacto  form:hover:nth-child(1){
    transform: translateY(-10px) scale(1.0);
}



/*-----futer-------*/
footer{
    font-family: 'Montserrat', sans-serif;
    background: black;
    padding: 2vh;
}

/*------responsive-------------*/

@media screen and (max-width: 800px){
	html, body{
		overflow-x: hidden;
    }

    .menu{
		margin-top: 2vh;
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
        height: 10vh;
}

    
    
    .botonmenu{
        color:#000000;
        font-size: 16.5px;
        text-decoration: none;
        padding: 1vh;
        text-align: center;
    }
    
    .botonmenu:hover{
        color: black;
    }

    /*----nosotros----*/
    .nosotrxs .ser{
        padding-left: 0vh;
        height: 20vh;
    }
    
    .nosotrxs .colo{
        padding-right: 0vh;
        height: 20vh;
    }


  
        .grid .item {
            width: calc(50% - 20px);
        }
    
        .galeria.barra-busqueda {
            width: 100%;
        }
    


        /*---home---*/

        #home{
            height: 135vh;
        }

        .home p{
            margin-top: 5vh;
            margin-bottom: 5vh;
            font-size:20px;
            padding: 1vh;
        }

        /*---proyectos---*/
        .galeria {
            width: 100%;
            margin-left: 0vh;
        }
        #proyectos{
            height: 185vh;
        }
        /*--nosotros---*/
        .card:first-child{
            display:block;
            margin-bottom: 5vh;
            margin-left:auto;
            margin-right:auto;
        }
        
        #nosotrxs{
            height: 150vh;
        }


}